<h1> Would you Eat This for Dinner?</h1>
<hr>
<br>
<div>
  <p><%= image_tag(@recipe.image_string) %></p>
</div>



<%= link_to 'Yes',  @recipe.link_url, target: '_blank' %>
<%= link_to 'No', recipes_path %>
