/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-image: url(dinner3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
color: black;
text-align: center;
font-size:1.5em;
text-transform: capitalize;
font-weight: bold;
}
a {
text-align: center;
font-weight: bold;
display: inline-block;
}

.button1 {
margin-left: 50%;
margin-bottom: 50%;
}

.button2 {
margin-right: 30%;
margin-bottom: 50%;
}

img {
margin-left: 35%;
width: 40%;
height: 40%;
}